/* HOMESCREEN */

.homescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-200);
}

.illustration_img {
  margin-top: auto;
}

.heading_primary {
  font-size: 4.4rem;
  font-weight: 800;
  letter-spacing: 0.75px;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.text,
.encrypted_text {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
}

.text {
  font-weight: 500;
}

.encrypted {
  display: flex;
  gap: 1.8rem;
  margin-top: auto;
  margin-bottom: 1.2rem;
}

.lock_icon {
  color: var(--color-text-dark) !important;
  width: 2.4rem !important;
  height: 2.4rem !important;
}

.encrypted_text {
  color: #000;
}
