/* BOX RIGHT (NOTES SECTION) */
.container {
  background-color: var(--color-primary-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

/* NOTES */

.header {
  display: flex;
  width: 100%;
  gap: 2.4rem;
  align-items: center;
  color: var(--color-text-light);
  background-color: var(--color-primary-950);
  padding: 1.5rem;
}

.notes_container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  padding-bottom: 2.4rem;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 1.2rem;
}

.container::-webkit-scrollbar-track {
  background-color: var(--color-text-dark);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-background-light);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  background-color: var(--color-background-light);
  margin-bottom: 2.4rem;
  padding: 1.8rem 2rem 1.2rem 2rem;
  border-radius: 4px;
  margin: 2.4rem 2.4rem 0 2.4rem;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
}

.note_text {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  line-height: 1.6;
  text-align: justify;
}

.note_timestamp {
  display: flex;
  align-self: flex-end;
  margin-right: 2.4rem;
}

.note_time,
.note_date {
  font-size: 1.8rem;
  font-weight: 600;
}

.note_date {
  list-style: none;
  margin-right: 3.4rem;
}

.note_input_box {
  position: relative;
  border: none;
  min-width: 100%;
  /* min-height: 25%; */
  padding: 2.4rem 3rem;
  border-bottom-left-radius: 8px;
  /* border-bottom-right-radius: 4px; */
  background-color: var(--color-primary-950);
}

.note_input_box textarea {
  min-width: 100%;
  min-height: 100%;
  border: none;
  border-radius: 8px;
  resize: none;
  padding: 2.4rem 9.6rem 2.4rem 2.4rem;
  font-size: 2.4rem;
  letter-spacing: 0.63px;
  line-height: 1.6;
  font-weight: 500;
  text-align: justify;
}

.note_input_box textarea::-webkit-scrollbar {
  width: 0;
}

.note_input_box textarea::placeholder {
  font-size: 2.4rem;
  color: var(--color-grey-dark);
}

.note_input_box textarea:focus {
}

.send_icon {
  position: absolute;
  right: 3%;
  transform: translate(-30%, -8%);
  top: 50%;
  bottom: 50%;
  fill: var(--color-grey-dark);
  cursor: pointer;
}

.send_icon.active {
  fill: var(--color-text-dark);
}
