.item_abbreviation {
  color: var(--color-text-light);
  border-radius: 100%;
  background-color: var(--color-grey-dark);
  font-size: 2.4rem;
  padding: 2.1rem 1.8rem;
  min-width: 6.8rem;
  letter-spacing: 0.75px;
  font-weight: 500;
}

.item_text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.63px;
  text-transform: capitalize;
}
