/* 1rem = 16px  (Default) 

*********************** 01 : TYPOGRAPHY SYSTEM ********************

- Font Size System (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line Height (px)
Default:1 
Medium : 1.05
Small : 1.2
Paragraph Default : 1.6
Heading : 1.2


- Latter Spacing

Primary Heading --  -0.5px
Secondary Heading -- 0.75px  , 0.63px
Tertiary Heading -- 1.7px 



- Font weight :

Default - 400
Medium - 500
Semi-bold - 600
Bold - 700

*********************** 02 : COLORS ********************


*********************** 05 : SHADOWS  ********************




*********************** 06 : BORDER RADIUS  ********************
Default:0.4px;
Semi-medium : 8px
Medium : 11px
Large : ;
Extra-large :  



*********************** 07 : WHITESPACE  ********************

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-primary-950: #16008b;
  --color-primary-700: #0047ff;
  --color-primary-400: #60a5fa;

  --color-primary-200: #dae5f5;

  --color-text-dark: #212529;
  --color-text-light: #fff;

  --color-background-light: #fff;

  --color-grey-dark: #9ca3af;
  --color-grey-medium: #d9d9d9;
  --color-grey-light: #e5e7eb;

  --color-red: #fa5252;
  --color-red-dark: #e03131;

  --color-purple-light: #b38bfa;
  --color-pink-light: #ff79f2;
  --color-cyan-light: #22d3ee;

  --color-salamon-dark: #f19576;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', Rubik sans-serif;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
  position: relative;
}

.icon {
  width: 4.4rem;
  height: 4.4rem;
  color: var(--color-text-light);
}

.color_purple {
  background-color: var(--color-purple-light);
}

.color_pink {
  background-color: var(--color-pink-light);
}

.color_sky {
  background-color: var(--color-cyan-light);
}

.color_salamon {
  background-color: var(--color-salamon-dark);
}

.color_blue {
  background-color: var(--color-primary-950);
}

.color_blue_light {
  background-color: var(--color-primary-400);
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  letter-spacing: 0.75px;
}
